* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.register-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.register h1 {
  text-align: center;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.register form {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register input {
  padding: 5px 10px;
  margin-bottom: 7px;
  width: 100%;
}

.register button {
  padding: 5px 10px;
  background-color: #03bb03;
  color: #fff;
  cursor: pointer;
}

.register button:hover {
  background-color: #fff;
  color: #03bb03;
}

.register button:focus {
  background-color: #03bb03;
  color: #fff;
}

.register p {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.register__bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.register__bottom a {
  margin-top: 5px;
  font-size: 0.9rem;
}

.login-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.login h1 {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.login form {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  padding: 5px 10px;
  margin-bottom: 7px;
  width: 100%;
}

.login button {
  padding: 5px 10px;
  background-color: #03bb03;
  color: #fff;
  cursor: pointer;
}

.login button:hover {
  background-color: #fff;
  color: #03bb03;
}

.login button:focus {
  background-color: #03bb03;
  color: #fff;
}

.login p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: red;
  margin-top: 10px;
}

.login__bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.login__bottom a {
  margin-top: 5px;
  font-size: 0.9rem;
}

.customer-table-container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.customer-table-container a {
  color: #ff4800;
}

.customer-table {
  width: 50%;
  margin: 0 auto;
}

th,
td {
  padding: 15px;
}

th span {
  font-size: 12px;
  font-weight: 400;
}

td {
  color: #e22545;
}

tr:hover {
  background-color: #fdf4f4;
}

th {
  text-align: left;
  color: #33b400;
}

.avatar {
  width: 50px;
  height: 50px;
}

.addcustomer-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.addcustomer {
  width: 300px;
  height: 280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.addcustomer h1 {
  text-align: center;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.addcustomer form {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addcustomer input {
  padding: 8px 10px;
  margin-bottom: 7px;
  width: 100%;
}

.addcustomer button {
  padding: 7px 15px;
  background-color: #03bb03;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.addcustomer button:hover {
  background-color: #fff;
  color: #03bb03;
}

.addcustomer button:focus {
  background-color: #03bb03;
  color: #fff;
}

.addcustomer p {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.register__bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.register__bottom a {
  margin-top: 5px;
  font-size: 0.9rem;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  border-bottom: 1px solid black;
  padding: 20px;
}

.nav h1 {
  flex-grow: 1;
  letter-spacing: 5px;
}

.nav ul {
  display: flex;
  position: relative;
  width: 300px;
  margin-top: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */