@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  .nav {
    margin: 0 auto;
    width: 100%;
  }
  .nav h1 {
    font-size: 26px;
  }
  .nav-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }
  ul {
    width: 200px;
    padding: 0 !important;
    margin: 0 auto;
  }
  .customer-table {
    width: 100% !important;
  }
  .customer-table th,
  .customer-table td {
    font-size: 12px !important;
    padding: 5px !important;
  }
  .search-container input {
    width: 100px;
  }
  .avatar {
    width: 30px !important;
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .nav {
    margin: 0 auto;
  }
  .nav-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }
  ul {
    margin: 0 auto;
  }
}

.register-container {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
}

.register h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

.register form {
  padding: 20px 0;
}

.register form input {
  display: block;
  appearance: none;
  border: 1px solid #fff;
  background-color: #fff;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  transition-duration: 0.25s;
  font-weight: 300;
}

.register form input:hover {
  background-color: #fff;
}

.register form input:focus {
  background-color: #fff;
  width: 300px;
  color: #09c074;
}

.register form button {
  background-color: #50a3a28e;
  border: 1px solid #09807e;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.register form button:hover {
  background-color: #fff;
  color: #1a7c7b;
}

.register form button:focus {
  color: #fff;
  background-color: #50a3a2;
}

.register p {
  color: red;
  font-weight: 600;
}

.register__bottom {
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.register__bottom a {
  color: white;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding-top: 15px;
  text-decoration: underline;
  color: #4e41c9;
}

.login-container {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 500px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
}

.login h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}

.login form {
  padding: 20px 0;
}

.login form input {
  display: block;
  appearance: none;
  border: 1px solid #fff;
  background-color: #fff;
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: black;
  transition-duration: 0.25s;
  font-weight: 300;
}

.login form input:hover {
  background-color: #fff;
}

.login form input:focus {
  background-color: #fff;
  width: 300px;
  color: #09c074;
}

.login form button {
  background-color: #50a3a28e;
  border: 1px solid #09807e;
  padding: 10px 15px;
  color: #fff;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}

.login form button:hover {
  background-color: #fff;
  color: #1a7c7b;
}

.login form button:focus {
  color: #fff;
  background-color: #50a3a2;
}

.login p {
  color: red;
  font-weight: 600;
}

.login__bottom {
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login__bottom a {
  color: white;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding-top: 15px;
  text-decoration: underline;
  color: #4e41c9;
}

.profile-top {
  max-width: 1300px;
  flex-direction: column;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.profile-top h1 {
  text-align: center;
  margin-top: 15px;
  letter-spacing: 3px;
  color: #36a5a3;
}

.search-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.search-container input {
  display: block;
  background-color: #fff;
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 3px;
  padding: 5px 12px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #09c074;
  font-weight: 300;
}

.customer-table-container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.customer-table-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ec4d68;
}

.customer-table-container a {
  color: black;
}

.customer-table {
  width: 70%;
  margin: 0 auto;
}

.customer-table th,
.customer-table td {
  padding: 10px 25px;
}

.customer-table th span {
  font-size: 12px;
  font-weight: 400;
}

.customer-table td {
  color: #e22545;
}

.customer-table tr:hover {
  background-color: #01faf628;
}

.customer-table th {
  text-align: left;
  color: #33b400;
  background-color: #01faf628;
}

.customer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customer-table tr:nth-child(even):hover {
  background-color: #01faf628;
}

.avatar {
  width: 40px;
}

.addcustomer-container, .update-container, .addpet-container, .update-pet-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.addcustomer, .updatecustomer, .addpet, .updatepet {
  width: 300px;
  height: auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-self: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.addcustomer h1, .updatecustomer h1, .addpet h1, .updatepet h1 {
  text-align: center;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

.addcustomer form, .updatecustomer form, .addpet form, .updatepet form {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addcustomer input, .updatecustomer input, .addpet input, .updatepet input {
  padding: 8px 10px;
  margin-bottom: 7px;
  width: 100%;
}

.addcustomer button, .updatecustomer button, .addpet button, .updatepet button {
  padding: 7px 15px;
  background-color: #03bb03;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.addcustomer button:hover, .updatecustomer button:hover, .addpet button:hover, .updatepet button:hover {
  background-color: #fff;
  color: #03bb03;
}

.addcustomer button:focus, .updatecustomer button:focus, .addpet button:focus, .updatepet button:focus {
  background-color: #03bb03;
  color: #fff;
}

.addcustomer p, .updatecustomer p, .addpet p, .updatepet p {
  text-align: center;
  color: #1a9c00;
  margin-top: 10px;
  font-size: 0.9rem;
}

.addcustomer a, .updatecustomer a, .addpet a, .updatepet a {
  color: #1a9c00;
  text-decoration: underline;
}

.register__bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.register__bottom a {
  margin-top: 5px;
  font-size: 0.9rem;
}

.delete-customer p {
  margin-top: 50px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button {
  margin-top: 35px;
  display: inline;
}

.buttons button:nth-child(1) {
  background-color: red;
}

.buttons a {
  text-decoration: none;
}

.buttons a button:hover {
  background-color: #fff;
  color: red;
}

.nav {
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #50a3a2a6;
  width: 100%;
  margin: 0 auto;
  background-color: #faf9f8;
}

.nav div {
  max-width: 1300px;
  padding: 12px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav a h1 {
  color: #09807e;
  flex-grow: 1;
  letter-spacing: 5px;
}

.nav ul {
  display: flex;
  width: 200px;
  margin-top: 15px;
  padding-right: 15px;
  justify-content: space-between;
}

.nav ul a {
  color: #09807e;
}

.customer-header {
  text-align: center;
  height: auto;
  color: #0d4c6e;
}

.customer-header h1 {
  margin-bottom: 5px;
  font-size: 2.8rem;
  letter-spacing: 3px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #1590d3;
}

.customer-settings {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.customer-settings a {
  color: green;
  font-weight: 400;
}

.pet-list-container {
  max-width: 1000px;
  margin: 0 auto;
}

.pet-list-container h2 {
  text-align: center;
  color: #054292;
  font-weight: 600;
  margin-top: 50px;
}

.pet-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  margin: 1rem;
  width: 250px;
  word-wrap: break-word;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pet-card-info-bottom {
  width: 250px;
  background-color: rgba(241, 238, 238, 0.26);
}

.pet-card-info-bottom span {
  color: #4c0cc2;
}

.pet-card-info-bottom p {
  font-size: 1.2rem;
  margin-top: 2px;
}

.pet-avatar-container {
  display: flex;
  justify-content: center;
}

.pet-avatar-container img {
  width: 250px;
  border-bottom: 1px solid gray;
}

.pet-profile {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.pet-header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.pet-avatar {
  display: inline-block;
}

.pet-avatar img {
  width: 250px;
  border: 1px solid gray;
  border-radius: 50%;
}

.pet-profile-infos {
  max-width: 260px;
  text-align: center;
}

.pet-profile-infos h1 {
  margin-bottom: 8px;
}

.pet-profile-infos p {
  margin-bottom: 10px;
}

.pet-profile-infos a {
  color: green;
  font-weight: 600;
}

.pet-profile-infos a:hover {
  color: red;
  margin-top: 15px;
}

.treatment-container {
  width: 100%;
  margin-top: 30px;
  margin-left: 90px;
}

.treatment-container h2 {
  margin-bottom: 15px;
  text-align: center;
  cursor: pointer;
  color: #920303;
}

.treatment-container h2:hover {
  color: red;
}

.addtreatment-container {
  margin-bottom: 15px;
}

.addtreatment-container input {
  padding: 5px 10px;
  margin-left: 10px;
}

.addtreatment-container button {
  padding: 5px 15px;
  background-color: #129e00;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 15px;
}

.addtreatment-container button:hover {
  background-color: #29f33a;
}

.addtreatment-container button:focus {
  background-color: #b80606;
}

.treatment-table {
  background-color: #e7e7e7;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 35px;
}

.treatment-table th,
.treatment-table td {
  padding: 5px 25px;
}

.treatment-table th span {
  font-size: 12px;
  font-weight: 400;
}

.treatment-table td {
  color: #e22545;
}

.treatment-table td button {
  padding: 5px 15px;
  background-color: #b80606;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}

.treatment-table td button:hover {
  background-color: #ec2c2c;
}

.treatment-table td button:focus {
  background-color: #b80606;
}

.treatment-table tr:hover {
  background-color: #fdf4f4;
}

.treatment-table th {
  text-align: left;
  color: #33b400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F3F2EF;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */