.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;
  
}

.chat-container {
  border-radius: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 1100px;
  background-color: #ffffff;
  background-color: var(--color-page-background);
  color: var(--color-text);
  border:1px solid var(--color-text);
}

.chat-list-content {
  display: flex;
  height: 70vh;
  overflow-y: hidden;
  
}

.chat-input-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatbox {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;

  li {
    display: flex;
  }

  li.right {
    justify-content: flex-end;
    margin-right: 10px;

    .message {
      background-color: #0084ff;
      color: white;
    }
  }
}

.message {
  display: inline-block;
  background-color: #e4e6eb;
  border-radius: 17px;
  padding: 6px 12px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1rem;
  color:#000;
}

.customer-list {
  width: 150px;
  height: 100%;
  text-overflow: ellipsis;
  border-right: 1px solid black;
  background-color: rgb(245, 243, 243);
  overflow-y: scroll;
  border-radius: 10px;
  background-color: var(--color-page-background);
  
  a {
    color: black;
    color: var(--color-text);
  }
}

.scroll {
  width: 200px;
  height: 400px;
  background: red;
  overflow: scroll;
}
.customer-list::-webkit-scrollbar {
  width: 5px;
}

.customer-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.customer-list::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.customer-item-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-item {
  padding: 20px 0 5px 5px;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  border-bottom:1px solid var(--color-text);
}

.chat-input {
  display: flex;
  justify-content: flex-end;

  form {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 10px;
  }
  button {
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0px 5px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
}
