.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
}

.chat-container {
  border-radius: 5px;
  // border-radius: 10px;
  width: 1100px;
  background-color: #fff;
  border: 1px solid $main-blue;
}

.chat-list-content {
  display: flex;
  height: 70vh;
  overflow-y: hidden;
}
.selected-chat-customer {
  background-color: #a8c6ff;
}
.chat-input-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatbox {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;

  li {
    display: flex;
  }

  li.right {
    justify-content: flex-end;
    margin-right: 10px;

    .message {
      background-color: #0084ff;
      color: white;
    }
  }
}

.message {
  display: inline-block;
  background-color: #e3c5fc;
  border-radius: 17px;
  padding: 6px 12px;
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 5px;
  font-size: 1rem;
  color: #000;
  max-width: 500px;
  word-wrap: break-word;
}

.customer-list {
  width: 150px;
  height: 100%;
  text-overflow: ellipsis;
  border-right: 1px solid black;
  background-color: rgb(245, 243, 243);
  overflow-y: scroll;
  background-color: #fff;

  a {
    color: black;
  }
}

.customer-list-toggle {
  display: none;
}

.scroll {
  width: 200px;
  height: 400px;
  background: red;
  overflow: scroll;
}
.customer-list::-webkit-scrollbar {
  width: 5px;
}

.customer-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.customer-list::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.customer-item-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  p {
    padding-top: 10px;
    padding-left: 5px;
  }
}

.customer-item {
  padding: 20px 0 5px 5px;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  border-bottom: 1px solid #004cda;
}

.chat-input {
  display: flex;
  justify-content: flex-end;

  form {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 10px;
  }
  button {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 6px 7px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: #004fb6;
    color: white;

    &:hover {
      background-color: #0e6eeb;
    }
  }
}
