.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  height: 90vh;
  margin: 0 auto;
}

.chat-container {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  width: 1100px;
}

.chat-list-content {
  display: flex;
}

.chat-input-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chatbox {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;

  li {
    display: flex;
  }

  li.right {
    justify-content: flex-end;
    margin-right: 10px;

    .message {
      background-color: rgba(72, 17, 109, 0.479);
    }
  }
}

.message {
  display: inline-block;
  background-color: gray;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 5px;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 1.1rem;
}

.customer-list {
  width: 150px;
  height: 100%;
  text-overflow: ellipsis;
  border-right: 1px solid black;
}

.customer-item-content {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.customer-item {
  padding: 20px 0 5px 5px;
  border-bottom: 1px solid black;
  text-overflow: ellipsis;
  font-size: 1.1rem;
}

.chat-input {
  display: flex;
  justify-content: flex-end;

  form {
    width: 100%;

    display: flex;
    justify-content: flex-end;
  }

  input {
    width: 100%;
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 10px;
  }
  button{
      font-weight: 800;
      font-size: 1.5rem;
      padding:0px 5px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
  }
}
