#darkMode {
  background: transparent url("../img/sun2.png") no-repeat center;
  background-size: 25px 25px;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

#darkMode:hover {
  filter: none;
  background-color: yellow;
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: #fff;
}

$color-black: #1d1d1d;
$color-white: #fff;
$color-second-white: #e9e9e9;
$color-gray-light: rgba($color-white, 0.15);
$color-gray-dark: rgba($color-black, 0.15);
$color-blue-background: #e2ecff;
$main-background:#E5E5E5;
$main-blue:#3681E2;

:root {
  --color-page-background: #{$color-white};
  --color-text: #{$color-black};
}

.dark {
  --color-page-background: #{$color-black};
  --color-text: #{$color-white};
  --color-second-background: #{$color-black};
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}

body {
  --color-page-background: #{$main-background};
  --color-second-background: #{$color-white};
  --color-text: #{$color-black};
  --color-chat-background: #{$color-blue-background};
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}
