.nav {
  border-bottom: 1px solid #989494;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-second-background);
  color: #000;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;

  div {
    max-width: 1300px;
    padding: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  a h1 {
    color: $main-blue;
    flex-grow: 1;
    letter-spacing: 5px;
  }
  ul {
    display: flex;
    width: 350px;
    margin-top: 15px;
    padding-right: 15px;
    justify-content: space-between;

    a {
      color: var(--color-text);
      &:hover {
        color: red;
      }
    }
  }
}
