.pet-profile {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.pet-header {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.pet-avatar {
    display: inline-block;

    img {
        width: 250px;
        border: 1px solid gray;
        border-radius: 50%;
    }
}

.pet-profile-infos {
    max-width: 260px;
    text-align: center;
    h1 {
        margin-bottom: 8px;
    }
    p {
        margin-bottom: 10px;
    }
    a {
        color: green;
        font-weight: 600;
    }
    a:hover {
        color: red;
        margin-top: 15px;
    }
}

.treatment-container {
    width: 100%;
    margin-top: 30px;
    margin-left: 90px;
    h2 {
        margin-bottom: 15px;
        text-align: center;
        cursor: pointer;
        color:rgb(146, 3, 3)
    }
    h2:hover {
        color: red;
    }
   
}

.addtreatment-container{
    margin-bottom: 15px;
    input{
        padding:5px 10px;
        margin-left:10px;
    }
    button{
        padding:5px 15px;
        background-color:rgb(18, 158, 0);
        color:white;
        border-radius: 7px;
        cursor: pointer;
        margin-left: 15px;
    }
    button:hover{
        background-color: rgb(41, 243, 58);
    }
    button:focus{
        background-color:rgb(184, 6, 6);
    }
}

.treatment-table {
    background-color: rgb(231, 231, 231);
    margin: 0 auto;
    width: 100%;
    margin-bottom: 35px;
    th,
    td {
        padding: 5px 25px;
    }

    th span {
        font-size: 12px;
        font-weight: 400;
    }

    td {
        color: rgb(226, 37, 69);
        button{
            padding:5px 15px;
            background-color:rgb(184, 6, 6);
            color:white;
            border-radius: 7px;
            cursor: pointer;
        }
        button:hover{
            background-color: rgb(236, 44, 44);
        }
        button:focus{
            background-color:rgb(184, 6, 6);
        }
    }

    tr:hover {
        background-color: rgb(253, 244, 244);
    }

    th {
        text-align: left;
        color: rgb(51, 180, 0);
    }
}
