.pet-profile {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}

.pet-header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#tocustomerprofile {
  display: inline-block;
  margin-top: 15px;
}

.pet-avatar {
  display: inline-block;

  img {
    width: 250px;
    border: 1px solid gray;
    border-radius: 50%;
  }
}

.pet-profile-infos {
  max-width: 260px;
  text-align: center;
  margin-bottom: 15px;
  h1 {
    margin-bottom: 8px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    color: green;
    font-weight: 600;
    margin-bottom: 5px;
  }
  a:hover {
    color: red;
    margin-top: 15px;
  }
}

.treatment-container {
  width: 100%;
  margin-top: 30px;
  margin-left: 90px;
  h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #2f7e7cec;
  }
}

.addtreatment-container {
  margin-bottom: 15px;
  input {
    padding: 5px 10px;
    margin-left: 10px;
    width: 150px;
  }
  button {
    padding: 5px 15px;

    margin-left: 15px;
  }
  // button:hover {
  //     background-color: rgb(41, 243, 58);
  // }
  // button:focus {
  //     background-color: rgb(184, 6, 6);
  // }
}

.treatment-table {
  color: #000;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 35px;

  th span {
    font-size: 12px;
    font-weight: 400;
  }

  th,
  td {
    padding: 10px 25px;
    color: #000;
  }

  th span {
    font-size: 12px;
    font-weight: 400;
    color: white;
  }

  td {
    color: var(--color-text);
    button {
      padding: 5px 15px;
      background-color: rgb(223, 59, 59);
      color: white;
      border-radius: 7px;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(236, 44, 44);
    }
    button:focus {
      background-color: rgb(184, 6, 6);
    }
  }

  tr:hover {
    background-color: #01faf628;
    color: white;
  }

  th {
    text-align: left;
    color: rgb(51, 180, 0);
    color: black;
    background-color: rgba(109, 193, 231, 0.418);
  }

  tr:nth-child(odd) {
    background-color: #a0ecde56;
  }
  tr:nth-child(odd):hover {
    background-color: #01faf628;
  }
  tr:nth-child(even) {
    background-color: #3c948456;
  }
  tr:nth-child(even):hover {
    background-color: #01faf628;
  }
}

.upload-avatar {
  input[type="file"] {
    display: none;
  }
  button {
    padding: 3px 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 5px;
  }
}

#avatar-ok-button {
  border: 1px solid green;
  background-color: rgb(39, 146, 92);
  color: #fff;
  padding: 5.5px;
  position: absolute;
  &:hover {
    background-color: rgb(19, 226, 19);
  }
  &:focus {
    background-color: rgb(39, 146, 92);
  }
}

#avatar-x-button {
  background-color: red;
  color: #fff;
}

.avatar-input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  padding: 3px 5px;
  cursor: pointer;
  background-color: #d8d8d8;
  color: #000;
  &:hover {
    background-color: #a5a5a5c2;
  }
}
