.profile-top {
    max-width: 1300px;
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    h1 {
        text-align: center;
        margin-top: 15px;
        letter-spacing: 3px;
        color:#36a5a3;

    }
}

.search-container {
    max-width: 1300px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    input {
        display: block;
        background-color: #fff;
        width: 250px;
        border:none;
        border-bottom:1px solid black;
        border-radius: 3px;
        padding: 5px 12px;
        margin: 0 auto ;
        display: block;
        text-align: center;
        font-size: 18px;

        color: #09c074;;

        font-weight: 300;

    }
}

.customer-table-container {
    max-width: 1300px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: rgb(236, 77, 104);
    }

    a {
        color: rgb(0, 0, 0);
    }
}

.customer-table {
    width: 70%;
    margin: 0 auto;
    th,
td {
    padding: 10px 25px;
}

th span {
    font-size: 12px;
    font-weight: 400;
}

td {
    color: rgb(226, 37, 69);
}

tr:hover {
    background-color: #01faf628;
}

th {
    text-align: left;
    color: rgb(51, 180, 0);
    background-color: #01faf628;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(even):hover{background-color:#01faf628;}
}

.avatar{
    width: 40px;
}



//AddCustomer

.addcustomer-container, .update-container, .addpet-container,.update-pet-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.addcustomer, .updatecustomer, .addpet,.updatepet{
    width: 300px;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
    border: 1px solid gray;
    border-radius: 5px;

    h1 {
        text-align: center;
        margin-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
    }

    form {
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input {
        padding: 8px 10px;
        margin-bottom: 7px;
        width: 100%;
    }

    button {
        padding: 7px 15px;
        background-color: rgb(3, 187, 3);
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        margin-top: 10px;
    }
    button:hover {
        background-color: #fff;
        color: rgb(3, 187, 3);
    }
    button:focus {
        background-color: rgb(3, 187, 3);
        color: #fff;
    }
    p {
        text-align: center;
        color: rgb(26, 156, 0);
        margin-top: 10px;
        font-size: 0.9rem;
    }
    a {
        color: rgb(26, 156, 0);
        text-decoration: underline;
    }
}


.register__bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
        margin-top: 5px;
        font-size: 0.9rem;
    }
}

.delete-customer p {
    margin-top: 50px;
}



.buttons {
    display: flex;
    justify-content: space-around;

    button {
        margin-top: 35px;
        display: inline;
    }
    button:nth-child(1) {
        background-color: red;
    }
    a {
        text-decoration: none;
    }

    a button:hover {
        background-color: #fff;
        color: red;
    }
}
