.register-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.register {
  width: 300px;
  margin: 0 auto;
  padding: 60px 0;
  height: 500px;
  text-align: center;
  border:1px solid black;
  border-radius: 20px;
  background-color: #fff;

  h1 {
    font-size: 40px;
    font-weight: 200;
  }
  form {
    padding: 20px 0;


    input {
      display: block;
      border: 1px solid #000;
      background-color: #fff;
      border-radius: 7px;
      width: 250px;
      border-radius: 3px;
      padding: 10px 15px;
      margin: 0 auto 10px auto;
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
    }

    button {
      background-color: $main-blue;
      padding: 10px 15px;
      color: #fff;
      border-radius: 3px;
      width: 250px;
      cursor: pointer;
      font-size: 18px;
      transition-duration: 0.25s;

      &:hover {
        background-color: #fff;
        color: $main-blue;
      }
      &:focus {
        color: #fff;
        background-color: $main-blue;
      }
    }
  }

  p {
    color: red;
    font-weight: 600;
  }
}

.register__bottom {

  a {
    color: white;
    font-weight: 600;
    padding: 15px;

    color: $main-blue;
  }
}


