//mobile
@media only screen and (max-width: 500px) {
  .nav {
    margin: 0 auto;
    width: 100%;
    h1 {
      font-size: 26px;
    }
  }

  .nav-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    ul {
      width: 250px !important;
      padding: 0 !important;
      margin: 0 auto;
      li {
        font-size: 0.8rem;
      }
    }
  }

  .customer-table {
    width: 100% !important;
    th,
    td {
      font-size: 12px !important;
      padding: 5px !important;
    }
  }

  .search-container {
    input {
      width: 100px;
    }
  }
  .avatar {
    width: 30px !important;
  }

  .pet-profile {
    flex-direction: column;
  }

  .pet-profile-infos {
    margin: 0 auto;
  }

  .treatment-container {
    margin: 0 auto !important;
  }

  .pet-header {
    margin-top: 10px !important;
  }

  .pet-avatar {
    display: inline-block;

    img {
      width: 200px !important;
      border: 1px solid gray;
      border-radius: 50%;
    }
  }

  .treatment-table th,
  td {
    font-size: 14px !important;
    padding: 0px !important;
  }

  .addtreatment-container {
    display: flex !important;
    flex-direction: column !important;
    width: 50%;
    margin: 0 auto;
    margin-left: 0 i !important;
    form {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      padding: 0 !important;

      input {
        width: 100% !important;
        margin: 0 !important;
      }
      button {
        width: 100%;
        margin: 0 !important;
      }
    }
  }

  .customer-list-toggle {
    display: flex !important;
    font-size: 1.2rem;
    justify-content: space-between;
    border-radius: 15px;
    padding: 1px;
    text-align: center;
    margin: 5px 0;
    text-align: center;
    p:nth-child(1) {
      margin-left: 15px;
      padding: 5px 9px;
      border: 1px solid gray;
      border-radius: 50%;
      background-color: #0084ff;
    }
    p:nth-child(2) {
      margin-right: 15px;
      padding: 5px;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .customer-list.visible {
    display: block;
    position: absolute;
  }

  .customer-list.hidden {
    display: none;
    position: static;
  }

  .relativelist {
    position: relative;
  }

  .userchat {
    margin-top: 0 !important;
  }

  .message {
    max-width: 200px !important;
  }

  .page404 h1 {
    font-size: 6rem !important;
  }

  .page404 img {
    width: 100% !important;
  }
}

//tablet
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .nav {
    margin: 0 auto;
  }

  .nav-container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    ul {
      margin: 0 auto;
    }
  }

  .pet-profile {
    flex-direction: column;
  }

  .pet-profile-infos {
    margin: 0 auto;
  }

  .treatment-container {
    margin: 0 auto !important;
  }

  .pet-header {
    margin-top: 10px !important;
  }

  .pet-avatar {
    display: inline-block;

    img {
      width: 200px !important;
      border: 1px solid gray;
      border-radius: 50%;
    }
  }

  .addtreatment-container {
    display: flex !important;
    flex-direction: column !important;

    input {
      width: 100px !important;
    }
  }
}
