@import "config";
@import "responsive";
@import "registerform";
@import "login";
@import "profile";
@import "navbar";
@import "customerprofile";

body{
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}