@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

@import "config";
@import "responsive";
@import "registerform";
@import "login";
@import "profile";
@import "navbar";
@import "customerprofile";
@import "petprofile";
@import "chat";
@import "darkmode";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff;
  background-color: var(--color-page-background);
  color: var(--color-text);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #dadada 5%, #f0edf0 100%);
  background-color: #f3f3f3;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.btn:hover {
  background: linear-gradient(to bottom, #f0edf0 5%, #f9f9f9 100%);
  background-color: #f0edf0;
}
.btn:active {
  position: relative;
  top: 1px;
}
